<template name="addMeetup">
  <div class="template-addMeetup">
    <div class="page-header">
      <h1>Add Meetup</h1>
    </div>

    <form class="add-meetup-form">
        <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
            </div>
            <div class="form-group">
                <label>Age</label>
                <input type="text" class="form-control" id="age" name="age" placeholder="Age">
            </div>
            <div class="form-group">
                <label>phoneNumber</label>
                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone Number">
            </div>
            <div class="form-group">
                <label>address</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Address">
            </div>
            <div class="form-group">
                <label>Country</label>
                <input type="text" class="form-control" id="country" name="country" placeholder="Country">
            </div>
            <div class="form-group">
                <label>Village</label>
                <input type="text" class="form-control" id="city" name="city" placeholder="Village">
            </div>
            <div class="form-group">
                <label>PO Box</label>
                <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="PO Box">
            </div>
            <div class="form-group">
                <label>Date time visit since pregnancy</label>
                <div class="input-group datetimepicker">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input class="set-due-date form-control" id="datevisit" name="datevisit" type="text"/>
                  </div>
            </div>
            <div class="form-group">
                <label>Number of Weeks Pregnant</label>
                <input type="text" class="form-control" id="numWeeksPreggo" name="numWeeksPreggo" placeholder="Number of Weeks Pregnant">
            </div>
            <div class="form-group">
                <label>Emergency Phone Number</label>
                <input type="text" class="form-control" id="familyPhoneNumber" name="familyPhoneNumber" placeholder="Emergency Phone Number">
            </div>





             <button type="submit" class="btn btn-primary">Add Meetup</button>
    </form>

  </div>
</template>